body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.stopwatch {
    margin: 50px auto;
}

#display {
    font-size: 2em;
    margin-bottom: 20px;
}

button {
    font-size: 1em;
    padding: 5px 15px;
    margin: 0 5px;
}

#lapList {
    list-style-type: none;
    padding: 0;
}

#lapList li {
    margin-bottom: 5px;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
 
    background-image: url(download.png);
    background-size: 1800px 900px;
    background-repeat: no-repeat;
    
}

.stopwatch {
    margin: 250px auto;
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 16px 20px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    padding: 20px;
    overflow: hidden;
    min-height: 150px;
    

}

#display {
    font-size: 3em;
    margin-bottom: 20px;
}

button {
    font-size: 1.2em;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #9999ff;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 16px 20px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

button:hover {
    background-color: #3333cc;
    
}

#lapList {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    text-align: left;
}

#lapList li {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .stopwatch {
        width: 80%;
        min-height: 180px;
        margin-top: 150px;
    }
    .stopwatch button{
        display: inline;
        font-size: 15px;
    }
}
